

/*Class Selector*/
.section{
    background-color:hsl(167, 83%, 88%);
    border-style: groove;
    border-color: #eeaa44;
    border-width:5px;
    border-radius:5%;
}

.halfandcenter{
   width: 50 vw;
   margin-left: auto;
   margin-right: auto;
}
/*ID Selector*/
#highlight{
    color: red
}
/*Universal Selector*/
*{
    color: rgba(4, 4, 4, 0.8); font: Times
}
/*Element Selector*/
h1{
    background-color:rgb(177, 180, 179);
    color:#000;
    text-align: center; 
    text-decoration: overline;
}
/*Attribute Selector*/
p[important] {
    background-color: yellow;
}
/*Pseudo-class Selector*/
green:pseudo-class {
    color: hsla(120,100%,50%,0.3);
}
/*Grouping Selector3*/
h2, h3{
    text-align: center;
    color: rgb(15, 133, 187);
    border-bottom: 5px solid rgb(1, 188, 245);
}

/*Box Model*/
.box{
    background-color: rgb(226, 222, 222);
    width: 300px;
    border: 15px solid rgb(0, 105, 128);
    padding: 50px;
    margin-top: 30px;
    margin-left: 25vw;
}

/*External Font*/
